logix/logix/Web References/MailSend/MRMailSend.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailOutlookReplyTO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAttachment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_ReplyTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailOutlookReplyTOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailOutlookReplyTOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailOutlook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAttachment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_CC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailOutlookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailOutlookResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailOutgoingServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAttachment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Smtp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Portid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_CC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailOutgoingServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailOutgoingServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailZohoMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAttachment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_CC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_ReplyTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailZohoMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailZohoMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailOutlookReplyTOSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailOutlookReplyTO" />
  </wsdl:message>
  <wsdl:message name="SendMailOutlookReplyTOSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailOutlookReplyTOResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailOutlookSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailOutlook" />
  </wsdl:message>
  <wsdl:message name="SendMailOutlookSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailOutlookResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailOutgoingServerSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailOutgoingServer" />
  </wsdl:message>
  <wsdl:message name="SendMailOutgoingServerSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailOutgoingServerResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailZohoMailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailZohoMail" />
  </wsdl:message>
  <wsdl:message name="SendMailZohoMailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailZohoMailResponse" />
  </wsdl:message>
  <wsdl:portType name="MRMailSendSoap">
    <wsdl:operation name="SendMailOutlookReplyTO">
      <wsdl:input message="tns:SendMailOutlookReplyTOSoapIn" />
      <wsdl:output message="tns:SendMailOutlookReplyTOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailOutlook">
      <wsdl:input message="tns:SendMailOutlookSoapIn" />
      <wsdl:output message="tns:SendMailOutlookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailOutgoingServer">
      <wsdl:input message="tns:SendMailOutgoingServerSoapIn" />
      <wsdl:output message="tns:SendMailOutgoingServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailZohoMail">
      <wsdl:input message="tns:SendMailZohoMailSoapIn" />
      <wsdl:output message="tns:SendMailZohoMailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MRMailSendSoap" type="tns:MRMailSendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailOutlookReplyTO">
      <soap:operation soapAction="http://tempuri.org/SendMailOutlookReplyTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailOutlook">
      <soap:operation soapAction="http://tempuri.org/SendMailOutlook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailOutgoingServer">
      <soap:operation soapAction="http://tempuri.org/SendMailOutgoingServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailZohoMail">
      <soap:operation soapAction="http://tempuri.org/SendMailZohoMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MRMailSendSoap12" type="tns:MRMailSendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailOutlookReplyTO">
      <soap12:operation soapAction="http://tempuri.org/SendMailOutlookReplyTO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailOutlook">
      <soap12:operation soapAction="http://tempuri.org/SendMailOutlook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailOutgoingServer">
      <soap12:operation soapAction="http://tempuri.org/SendMailOutgoingServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailZohoMail">
      <soap12:operation soapAction="http://tempuri.org/SendMailZohoMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
</wsdl:definitions>