logix/logix/Web References/MailsendGmail/MRMailSend.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailGmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAttachment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_CC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailGmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailGmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailGmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailGmail" />
  </wsdl:message>
  <wsdl:message name="SendMailGmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailGmailResponse" />
  </wsdl:message>
  <wsdl:portType name="MRMailSendSoap">
    <wsdl:operation name="SendMailGmail">
      <wsdl:input message="tns:SendMailGmailSoapIn" />
      <wsdl:output message="tns:SendMailGmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MRMailSendSoap" type="tns:MRMailSendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailGmail">
      <soap:operation soapAction="http://tempuri.org/SendMailGmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MRMailSendSoap12" type="tns:MRMailSendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailGmail">
      <soap12:operation soapAction="http://tempuri.org/SendMailGmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MRMailSend">
    <wsdl:port name="MRMailSendSoap" binding="tns:MRMailSendSoap">
      <soap:address location="https://20.235.30.214/SendmailAuthDefault/WebApI/MRMailSend.asmx" />
    </wsdl:port>
    <wsdl:port name="MRMailSendSoap12" binding="tns:MRMailSendSoap12">
      <soap12:address location="https://20.235.30.214/SendmailAuthDefault/WebApI/MRMailSend.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>