logix/logix/Web References/SendmailGAuth/MailSend.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailGmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAttachment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_BCC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Str_CC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailGmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailGmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailGmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailGmail" />
  </wsdl:message>
  <wsdl:message name="SendMailGmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailGmailResponse" />
  </wsdl:message>
  <wsdl:portType name="MailSendSoap">
    <wsdl:operation name="SendMailGmail">
      <wsdl:input message="tns:SendMailGmailSoapIn" />
      <wsdl:output message="tns:SendMailGmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSendSoap" type="tns:MailSendSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailGmail">
      <soap:operation soapAction="http://tempuri.org/SendMailGmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSendSoap12" type="tns:MailSendSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailGmail">
      <soap12:operation soapAction="http://tempuri.org/SendMailGmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailSend">
    <wsdl:port name="MailSendSoap" binding="tns:MailSendSoap">
      <soap:address location="https://automail.copperhawk.tech/WebApI/MailSend.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSendSoap12" binding="tns:MailSendSoap12">
      <soap12:address location="https://automail.copperhawk.tech/WebApI/MailSend.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>